<mat-toolbar color="primary">

      <mat-toolbar-row>
        <h1>cadastre-se</h1>
      </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
   <mat-card-header>
    <mat-card-title>Seus dados</mat-card-title>
   </mat-card-header>


  <mat-card-content>


    <form action="" #formUsuario="ngForm" (ngSubmit)="">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input
         type="name"
         matInput [(ngModel)]="user.nome"
          name="campo-nome"
           required
           #inputNome="ngModel"

           >
            <mat-error>
              <p>Campo invalido</p>
            </mat-error>



      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="user" matInput [(ngModel)]="user.username" name="campo-username" required>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="mail" matInput [(ngModel)]="user.email" name="campo-email" required >

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>senha</mat-label>
        <input type="password" matInput [(ngModel)]="user.senha" name="campo-senha" required minlength="8" #inputSenha="ngModel">

        <mat-error>
          <p *ngIf="inputSenha.getError('required')">Campo Obrigatorio</p>
          <p *ngIf="inputSenha.errors?.['minlength']">Minimo de 8 caracteres</p>
        </mat-error>

      </mat-form-field>


      <mat-radio-group [(ngModel)]="user.genero" required>
        <mat-radio-button value="masc">Masculino</mat-radio-button>
        <mat-radio-button value="femi">Feminino</mat-radio-button>
        <mat-radio-button value="outro">Outro</mat-radio-button>
      </mat-radio-group>


      <section class="example-section" name="campo-genero">

        <mat-checkbox [(ngModel)]="user.termos" name="input-termos" class="example-margin" required>Termos de Usuario</mat-checkbox>

      </section>


      <button type="submit" mat-raised-button color="warn" [disabled]="formUsuario.invalid">Registrar</button>


    </form>

  </mat-card-content>


  </mat-card>


</div>
