<mat-toolbar color="basic">
  <mat-toolbar-row>
    <h1>FormsModule</h1>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Seus dados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form action="" #dadosUsuario="ngForm" (ngSubmit)="salvarUsuario()">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input type="text" matInput [(ngModel)]="user.nome" name="campo-nome" required #colocaNome=""ngModel>
          <mat-error>
            <label>Campo Invalido</label>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input type="text" matInput [(ngModel)]="user.username" name="campo-username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput [(ngModel)]="user.email" name="campo-email" required email>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input type="password" matInput [(ngModel)]="user.senha" name="campo-senha" required minlength="8" #colocarSenha="ngModel">
          <mat-error>
            <label *ngIf="colocarSenha.errors?.['required']">Esse Campo é Obrigatório</label>
            <label *ngIf="colocarSenha.errors?.['minlength']">A senha precisa ter, no minimo 8 caracteres</label>
          </mat-error>
        </mat-form-field>

          <mat-radio-group matInput [(ngModel)]="user.genero" name="campo-genero" required>
            <mat-radio-button value="fem">Feminino</mat-radio-button>
            <mat-radio-button value="masc">Masculino</mat-radio-button>
            <mat-radio-button value="outro">Outro</mat-radio-button>
          </mat-radio-group>

          <section>
            <mat-checkbox class="example-margin" [(ngModel)]="user.termos" name="campo-termo" required>Aceitar <a href="#">Termos de condições</a></mat-checkbox>
          </section>

          <button type="submit" mat-raised-button color="warn" [disabled]="dadosUsuario.invalid">Enviar</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>

<app-reactive-forms></app-reactive-forms>
