/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: black;
}

.container {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 5px;
}
